name: Build
on:
  workflow_call:

env:
  DOCKER_IMAGE: ghcr.io/${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2

      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 #v5.5.0
        with:
          go-version: "1.23"

      - run: go mod download
      - run: go build -o mcp-ui-backend cmd/server/main.go
        env:
          CGO_ENABLED: 0

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: mcp-ui-backend-binary
          path: mcp-ui-backend
          if-no-files-found: error
