name: Build
on:
  workflow_call:

env:
  DOCKER_IMAGE: ghcr.io/${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version: "1.25"

      - run: go mod download
      - run: go build -o mcp-ui-backend cmd/server/main.go
        env:
          CGO_ENABLED: 0

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 #v4.6.2
        with:
          name: mcp-ui-backend-binary
          path: mcp-ui-backend
          if-no-files-found: error
