name: Release

on:
  workflow_dispatch:
    inputs:
      nextVersion:
        description: "specify the release version in the semver format v[major].[minor].[patch] e.g. v0.0.0"
        required: true

permissions:
  contents: read

env:
  REGISTRY: ghcr.io/openmcp-project
  IMAGE_NAME: mcp-ui-backend

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write
      attestations: write

    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0 # Fetch all history for all tags and branches

      - name: Check if tag already exists
        id: check_tag
        run: |
          if git rev-parse ${{ github.event.inputs.nextVersion }} >/dev/null 2>&1
          then
            echo "Tag ${{ github.event.inputs.nextVersion }} already exists."
            exit 1
          else
            echo "Tag does not exit. Building release version ${{ github.event.inputs.nextVersion }}"
          fi

      - name: Log in to the Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          sbom: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest,${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.event.inputs.nextVersion }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Create Release with autogenerated release notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ github.event.inputs.nextVersion }} \
            --generate-notes \
            --target ${{ github.sha }}
